html, body{
    font-family: 'Karla', sans-serif;
    background: #e5e5e5;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #139e8c;
}

a:hover{
    text-decoration: none;
    color:#DC143C;
}

.bttn{
    background: #139E8C;
    padding: 15px 50px;
    color: #fff;
    border-radius: 40px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-weight: 700;
}

.top-bar{
    width: 100%;
    height: 10px;
    background: #139E8C;
}

#login h1{
    font-weight: 700;
    font-size:36px;
}

#login h3{
    margin-bottom:30px;
}

header{
    width:100%;
    height:70px;
    background: #139e8c;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    line-height: 40px;
    padding: 15px;
}

header a{
    color: #fff;
    font-size: 24px;
    font-weight:700;
}

#home h3{
    font-weight: 700;
    font-size:16px;
    letter-spacing:4px;
}

.song-card{
    background: #fff;
    display:inline-block;
    margin:10px;
    width:70%;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
}

.song-card h3, .song-card p{
    margin-top: 10px;
    padding:0px 10px;
}

#song-card h3{
    letter-spacing:.5px;
}

.song-page{
    margin-left:0px;
    margin-bottom:40px;
    height:120px;
    width:100%;
}

.song-page img{
    width:120px;
    position:absolute;
    margin-left:0;
}

.song-page h3, .song-page p{
    padding-left:135px;
}

.song-page h3{
    font-weight:700;
    margin: 20px 0px 0px 0px;
}

.song-page p{
    margin-top:0;
}

.comment-card{
    background: #fff;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
}

.comment-card textarea{
    background:#139E8C;
    width: 100%;
    border:none;
    font-family: 'Karla', sans-serif;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    padding: 15px;
    color:#fff;
    font-size:16px;
}

.comment-card textarea::placeholder{
    color:rgba(255,255,255,.7);
}

.playlist-img{
    width:100%;
    padding-top:100%;
    background-position:50% 50%;
}

.song-header{
    padding:15px;
    margin:0px;
    background:#139E8C;
    color:#fff;
    font-weight:bold;
    font-size:20px;
}

.song-name{
    padding:7px;
    margin:10px;
    border-bottom:1px solid #ddd;
}

.song-note-button{
    margin-top:5px;
    background:#139E8C;
    border:none;
    padding:10px 30px;
    border-radius:40px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    font-family: 'Karla';
    color:#fff;
    
}