html, body{
    font-family: 'Karla', sans-serif;
    background: #e5e5e5;
    overflow-x: hidden;
}

body[title]{
    z-index:999999;
    position:absolute;
}

a{
    text-decoration: none;
    color: #139e8c;
}

a:hover{
    text-decoration: none;
    color:#35bfae;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #139E8C;
}

.bg-fa{
    position: fixed;
    bottom:-50px;
    right:-50px;
    transform: rotate(210deg);
    opacity: .3;
    color:#139E8C;
    font-size:40em;
}

.bttn{
    background: #139E8C;
    padding: 15px 50px;
    color: #fff;
    border-radius: 40px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-weight: 700;
}

.top-bar{
    width: 100%;
    height: 10px;
    background: #139E8C;
}

#login h1{
    font-weight: 700;
    font-size:36px;
}

#login h3{
    margin-bottom:30px;
}

header{
    position:relative;
    z-index:9;
    width:100%;
    height:70px;
    background: #139e8c;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    line-height: 40px;
    padding: 15px;
}

header a{
    color: #fff;
    font-size: 24px;
    font-weight:700;
}

#home h1{
    margin-top:80px;
    letter-spacing: -1px;
    font-size:48px;
}

#home h3{
    font-weight: 700;
    font-size:16px;
    letter-spacing:4px;
}

.song-card{
    background: #fff;
    display:inline-block;
    margin:15px 0px;
    width:90%;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
}

.song-card h3, .song-card p{
    margin-top: 10px;
    padding:0px 10px;
}

#song-card h3{
    letter-spacing:.5px;
}

.song-page{
    position:relative;
    margin-left:0px;
    margin-bottom:20px;
    margin-top:50px;
    height:75px;
    width:100%;
    overflow: hidden;
    z-index:999;
}

.playlist-page{
    position:relative;
    width: 350px;
    height:120px;
    padding-right:20px;
    background:#fff;
    margin:30px 0px;
    z-index:9999;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);

}

.playlist-page img{
    min-height:120px;
    min-width:120px;
}

.playlist-page h3{
    font-weight:bold;
    padding:0px 0px 0px 135px;
}

.playlist-page-album{
    width:120px;
    height:120px;
    overflow: hidden;
    position:absolute;
}

.song-player{
    margin-top:-3px;
    margin-left:-3px;
}

.song-page img{
    width:120px;
    position:absolute;
    margin-left:0;
}

.song-page h3, .song-page p{
    padding-left:135px;
}

.song-page h3{
    font-weight:700;
    margin: 20px 0px 0px 0px;
}

.song-page p{
    margin-top:0;
}

.comment-card{
    position:relative;
    z-index:99;
    background: #fff;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    height:100%;
}

.comment-card textarea{
    background:#139E8C;
    width: 100%;
    border:none;
    font-family: 'Karla', sans-serif;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    padding: 15px;
    color:#fff;
    font-size:16px;
}

.comment-card textarea::placeholder{
    color:rgba(255,255,255,.7);
}

.playlist-img{
    width:100%;
    padding-top:100%;
    background-position:50% 50%;
}

.song-header{
    padding:15px;
    margin:0px;
    background:#139E8C;
    color:#fff;
    font-weight:bold;
    font-size:20px;
}

.song-name{
    padding:14px 7px;
    margin:0px 10px;
    border-bottom:1px solid #ddd;
    transition: .22s all ease-in-out;
}

.song-name:hover{
    padding-left:25px;
    border-bottom:1px solid #139E8C;
}

.song-note-button{
    margin-top:5px;
    background:#139E8C;
    border:none;
    padding:10px 30px;
    border-radius:40px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.2);
    font-family: 'Karla';
    color:#fff;
    
}


.remove-button{
    position: relative;
    float:right;
    margin:105px 15px 0px 0px;
    z-index:99;
}


#wordsCloud{
    font-family: 'Karla', sans-serif;
    font-weight:400;
    top: 0px;
    right: -320px;
    position:absolute;
}

.backsplash{
    width:100%;
    height:220px;
    overflow:hidden;
    position:absolute;
    opacity:.8;
    z-index: 9;
    -webkit-filter:blur(10px);

}

.backsplash img{
    width:100%;
    margin-top:-300px;
}

.comment-card p{
    padding:15px;
    border: 1px solid #ddd;
}

#yoursongs{
    display: block;
}

#yourplaylists{
    display: block;
}

#your-words{
    display:block;
}

.togglesongs{
    float:right;
    margin-right:40px;
    margin-top:-8px;
}

footer{
    width:100%;
    background:#139E8C;
    color:#fff;
    font-size:14px;
    padding:15px 20px;
    text-align: center;
    box-shadow:-4px -2px 10px rgba(0,0,0,.1);
}

footer a{
    color:#fff;
    text-decoration: underline;
}
.red{
    color:red;
    opacity:.75;
}

.search-songs{
    width:100%;
    border:0;
    border-radius:40px;
    height:45px;
    padding:15px;
    margin-top:-15px;
    margin-bottom:15px;
    font-family: 'Karla', sans-serif;
    z-index:9;
    position:relative;
    box-shadow:2px 2px 7px rgba(0,0,0,.2);
}

.search-songs:focus{
    border:0;
    outline:0;
    box-shadow:0;
}

.search-button{
    float:right;
    margin-right:10px;
    background: rgba(19, 158, 140, 1);
    position:relative;
    z-index:10;
    padding:10px 20px;
    border:0;
    height:30px;
    border-radius: 30px;
    margin-top:-52px;
    line-height:5px;
    color:#fff;
    font-family: "Karla", sans-serif;
}

.search-button:focus{
    outline:0;
    border:0;
}

#home{
    padding:50px;
}

.delete{
    float:right;
}

.more-button{
    background:#139E8C;
    border:0;
    padding:10px 100px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 30px auto;
    color:#fff;
    border-radius:25px;
    height:35px;
    font-family: 'Karla', sans-serif;
}

