<header>
    <a href="#!/view2" class="ml4">Web App Name</a>
</header>

<div ng-app="frontApp.view2" ng-controller="View2Ctrl" class="mv5 ml5" id="home">
    <div ng-init="databaseLogin()"></div>
    <h1 class="b">Hello, {{display_name}}.</h1>
    <p class ="overflow-ellipsis">Your access token:{{access_token}}</p>
    <p class ="overflow-ellipsis">Your refresh token:{{refresh_token}}</p>
    <p class ="overflow-ellipsis">Your user id:{{userid}}</p>
    <p>Add new Track:</p>
    <input ng-model="newTrack"> <button ng-click="addTrack()">submit track</button>
    <p>Associate word with track:</p>
    <textarea ng-model="newWord" rows="4" cols="50"> </textarea>
    <button ng-click="addWord()">submit word</button>
    <br>

    <iframe id = 'myplayer' src="https://open.spotify.com/embed?uri=spotify:track:5SE57ljOIUJ1ybL9U6CuBH"
            frameborder="0" allowtransparency="true"></iframe>
    <br/>
    
    <h3>YOUR SONGS -</h3>
    <p ng-repeat="x in tracks">{{x}}</p>
    <h3>Debug tracks</h3>
    <div class="container">
        <div class="row">

            <div class="col-md-3" ng-repeat="x in track_data">
                <div class="song-card">
                    <img id = "track image" ng-src="{{x.imageurl}}">
                    <h3>{{x.name}}</h3>
                    <p>{{x.first_artist}}</p>
                </div>
            </div>
        </div>
        
    </div>

</div>
